<a href="https://colab.research.google.com/github/NicholsonCameron/Lab-1.1/blob/main/comparing_league_wide_ERA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import polars as pl

In [65]:
pitching = pl.read_csv('./Data/lahman_1871-2023_csv/Pitching.csv')
pitching.head()

shape: (5, 30)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬─────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ R   ┆ SH  ┆ SF  ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ --- ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪═════╪══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 8   ┆ 0   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 25  ┆ 1   ┆ 3   ┆ 2    │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 24  ┆ 2   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 32  ┆ 3   ┆ 2   ┆ 4    │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 23  ┆ 2   ┆ 1   ┆ 2    │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴─────┴──────┘

In [111]:
ERA = (pitching 
       .select([pl.col('IPouts'), pl.col('R'), pl.col('lgID'), pl.col('yearID')])
       .filter(pl.col('yearID') >= 1946)
       .group_by(pl.col('yearID'), pl.col('lgID'))
       .agg([pl.col('IPouts').sum().alias('total_outs'),
             pl.col('R').sum().alias('total_runs'),
            ])
       .with_columns(era = (pl.col('total_runs')/pl.col('total_outs')*27),
                    DH_rule =  pl.when(pl.col('yearID') < 1973)
                                 .then(pl.lit('No'))
                                 .when(pl.col('lgID') == 'AL')
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('yearID') > 2022)
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('lgID') == 'NL')
                                 .then(pl.lit('No'))
                    )
        )
ERA.head()

shape: (5, 6)
┌────────┬──────┬────────────┬────────────┬──────────┬─────────┐
│ yearID ┆ lgID ┆ total_outs ┆ total_runs ┆ era      ┆ DH_rule │
│ ---    ┆ ---  ┆ ---        ┆ ---        ┆ ---      ┆ ---     │
│ i64    ┆ str  ┆ i64        ┆ i64        ┆ f64      ┆ str     │
╞════════╪══════╪════════════╪════════════╪══════════╪═════════╡
│ 2020   ┆ NL   ┆ 23068      ┆ 4185       ┆ 4.898344 ┆ No      │
│ 2011   ┆ AL   ┆ 60850      ┆ 10036      ┆ 4.453114 ┆ Yes     │
│ 2014   ┆ AL   ┆ 65396      ┆ 10052      ┆ 4.150162 ┆ Yes     │
│ 2012   ┆ AL   ┆ 60855      ┆ 9980       ┆ 4.427902 ┆ Yes     │
│ 1992   ┆ NL   ┆ 52502      ┆ 7539       ┆ 3.877052 ┆ No      │
└────────┴──────┴────────────┴────────────┴──────────┴─────────┘

In [108]:
ERA.write_csv('./data/ERA.csv')

In [67]:
batting = pl.read_csv('./Data/lahman_1871-2023_csv/Batting.csv')
batting.head()

shape: (5, 24)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬──────┬───────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SH  ┆ SF  ┆ GIDP ┆ G_old │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ ---  ┆ ---   │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64  ┆ str   │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪══════╪═══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 1   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴──────┴───────┘

In [109]:
SLG = (batting
       .select([pl.col('BB'), pl.col('2B'), pl.col('3B'), pl.col('HR'), 
                pl.col('AB'), pl.col('yearID'), pl.col('lgID')])
       .filter(pl.col('yearID') >= 1946)
       .group_by(pl.col('yearID'), pl.col('lgID'))
       .agg([pl.col('BB').sum().alias('total_BB'),
             pl.col('2B').sum().alias('total_2B'),
             pl.col('3B').sum().alias('total_3B'),
             pl.col('HR').sum().alias('total_HR'),
             pl.col('AB').sum().alias('total_AB'),
            ])
       .with_columns(slg = (pl.col('total_BB') + (2 * pl.col('total_2B')) + 
                            (3 * pl.col('total_3B')) + (4 * pl.col('total_HR')))/pl.col('total_AB'),
                    DH_rule =  pl.when(pl.col('yearID') < 1973)
                                 .then(pl.lit('No'))
                                 .when(pl.col('lgID') == 'AL')
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('yearID') > 2022)
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('lgID') == 'NL')
                                 .then(pl.lit('No'))
                    )
      )
SLG.head()

shape: (5, 9)
┌────────┬──────┬──────────┬──────────┬───┬──────────┬──────────┬──────────┬─────────┐
│ yearID ┆ lgID ┆ total_BB ┆ total_2B ┆ … ┆ total_HR ┆ total_AB ┆ slg      ┆ DH_rule │
│ ---    ┆ ---  ┆ ---      ┆ ---      ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str  ┆ i64      ┆ i64      ┆   ┆ i64      ┆ i64      ┆ f64      ┆ str     │
╞════════╪══════╪══════════╪══════════╪═══╪══════════╪══════════╪══════════╪═════════╡
│ 1946   ┆ NL   ┆ 4400     ┆ 1752     ┆ … ┆ 562      ┆ 42094    ┆ 0.268399 ┆ No      │
│ 2020   ┆ NL   ┆ 3078     ┆ 1402     ┆ … ┆ 1161     ┆ 29399    ┆ 0.370897 ┆ No      │
│ 2006   ┆ NL   ┆ 8600     ┆ 4834     ┆ … ┆ 2840     ┆ 88844    ┆ 0.352427 ┆ No      │
│ 1979   ┆ AL   ┆ 7413     ┆ 3529     ┆ … ┆ 2006     ┆ 76704    ┆ 0.314703 ┆ Yes     │
│ 2007   ┆ AL   ┆ 7503     ┆ 4299     ┆ … ┆ 2252     ┆ 78294    ┆ 0.337293 ┆ Yes     │
└────────┴──────┴──────────┴──────────┴───┴──────────┴──────────┴──────────┴─────────┘

In [110]:
SLG.write_csv('./data/SLG.csv')