<a href="https://colab.research.google.com/github/NicholsonCameron/Lab-1.1/blob/main/comparing_league_wide_ERA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import polars as pl

In [65]:
pitching = pl.read_csv('./Data/lahman_1871-2023_csv/Pitching.csv')
pitching.head()

shape: (5, 30)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬─────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ R   ┆ SH  ┆ SF  ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ --- ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪═════╪══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 8   ┆ 0   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 25  ┆ 1   ┆ 3   ┆ 2    │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 24  ┆ 2   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 32  ┆ 3   ┆ 2   ┆ 4    │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 23  ┆ 2   ┆ 1   ┆ 2    │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴─────┴──────┘

In [77]:
ERA = (pitching 
       .select([pl.col('IPouts'), pl.col('R'), pl.col('lgID'), pl.col('yearID')])
       .filter(pl.col('yearID') >= 1946)
       .group_by(pl.col('yearID'), pl.col('lgID'))
       .agg([pl.col('IPouts').sum().alias('total_outs'),
             pl.col('R').sum().alias('total_runs'),
            ])
       .with_columns(era = (pl.col('total_runs')/pl.col('total_outs')*27))
        )
ERA.head()

shape: (5, 5)
┌────────┬──────┬────────────┬────────────┬──────────┐
│ yearID ┆ lgID ┆ total_outs ┆ total_runs ┆ era      │
│ ---    ┆ ---  ┆ ---        ┆ ---        ┆ ---      │
│ i64    ┆ str  ┆ i64        ┆ i64        ┆ f64      │
╞════════╪══════╪════════════╪════════════╪══════════╡
│ 1953   ┆ NL   ┆ 32915      ┆ 5914       ┆ 4.851223 │
│ 1977   ┆ AL   ┆ 60672      ┆ 10247      ┆ 4.560077 │
│ 2007   ┆ NL   ┆ 69742      ┆ 12388      ┆ 4.795905 │
│ 1960   ┆ NL   ┆ 33361      ┆ 5250       ┆ 4.248973 │
│ 1955   ┆ NL   ┆ 32953      ┆ 5578       ┆ 4.570327 │
└────────┴──────┴────────────┴────────────┴──────────┘

In [41]:
ERA.write_csv('./data/ERA.csv')

In [67]:
batting = pl.read_csv('./Data/lahman_1871-2023_csv/Batting.csv')
batting.head()

shape: (5, 24)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬──────┬───────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SH  ┆ SF  ┆ GIDP ┆ G_old │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ ---  ┆ ---   │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64  ┆ str   │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪══════╪═══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 1   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴──────┴───────┘

In [79]:
SLG = (batting
       .select([pl.col('BB'), pl.col('2B'), pl.col('3B'), pl.col('HR'), 
                pl.col('AB'), pl.col('yearID'), pl.col('lgID')])
       .filter(pl.col('yearID') >= 1946)
       .group_by(pl.col('yearID'), pl.col('lgID'))
       .agg([pl.col('BB').sum().alias('total_BB'),
             pl.col('2B').sum().alias('total_2B'),
             pl.col('3B').sum().alias('total_3B'),
             pl.col('HR').sum().alias('total_HR'),
             pl.col('AB').sum().alias('total_AB'),
            ])
       .with_columns(slg = (pl.col('total_BB') + (2 * pl.col('total_2B')) + 
                            (3 * pl.col('total_3B')) + (4 * pl.col('total_HR')))/pl.col('total_AB'))
      )
SLG.head()

shape: (5, 8)
┌────────┬──────┬──────────┬──────────┬──────────┬──────────┬──────────┬──────────┐
│ yearID ┆ lgID ┆ total_BB ┆ total_2B ┆ total_3B ┆ total_HR ┆ total_AB ┆ slg      │
│ ---    ┆ ---  ┆ ---      ┆ ---      ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ str  ┆ i64      ┆ i64      ┆ i64      ┆ i64      ┆ i64      ┆ f64      │
╞════════╪══════╪══════════╪══════════╪══════════╪══════════╪══════════╪══════════╡
│ 1960   ┆ NL   ┆ 3937     ┆ 1722     ┆ 384      ┆ 1042     ┆ 42176    ┆ 0.301143 │
│ 1992   ┆ NL   ┆ 5978     ┆ 2967     ┆ 459      ┆ 1262     ┆ 65748    ┆ 0.278898 │
│ 2007   ┆ NL   ┆ 8576     ┆ 4898     ┆ 505      ┆ 2705     ┆ 89489    ┆ 0.343137 │
│ 2010   ┆ AL   ┆ 7367     ┆ 4016     ┆ 368      ┆ 2209     ┆ 77467    ┆ 0.327094 │
│ 1998   ┆ AL   ┆ 7737     ┆ 4248     ┆ 408      ┆ 2499     ┆ 78416    ┆ 0.350094 │
└────────┴──────┴──────────┴──────────┴──────────┴──────────┴──────────┴──────────┘