<a href="https://colab.research.google.com/github/NicholsonCameron/Lab-1.1/blob/main/comparing_league_wide_ERA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import polars as pl

In [2]:
pitching = pl.read_csv('./Data/lahman_1871-2023_csv/Pitching.csv')
pitching.head()

shape: (5, 30)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬─────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ R   ┆ SH  ┆ SF  ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ --- ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪═════╪══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 8   ┆ 0   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 25  ┆ 1   ┆ 3   ┆ 2    │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 24  ┆ 2   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 32  ┆ 3   ┆ 2   ┆ 4    │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 23  ┆ 2   ┆ 1   ┆ 2    │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴─────┴──────┘

In [3]:
ERA = (pitching 
       .select([pl.col('IPouts'), pl.col('R'), pl.col('lgID'), pl.col('yearID')])
       .filter(pl.col('yearID') >= 1946)
       .group_by(pl.col('yearID'), pl.col('lgID'))
       .agg([pl.col('IPouts').sum().alias('total_outs'),
             pl.col('R').sum().alias('total_runs'),
            ])
       .with_columns(era = (pl.col('total_runs')/pl.col('total_outs')*27),
                    DH_rule =  pl.when(pl.col('yearID') < 1973)
                                 .then(pl.lit('No'))
                                 .when(pl.col('lgID') == 'AL')
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('yearID') > 2022)
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('lgID') == 'NL')
                                 .then(pl.lit('No'))
                    )
        )
ERA.head()

shape: (5, 6)
┌────────┬──────┬────────────┬────────────┬──────────┬─────────┐
│ yearID ┆ lgID ┆ total_outs ┆ total_runs ┆ era      ┆ DH_rule │
│ ---    ┆ ---  ┆ ---        ┆ ---        ┆ ---      ┆ ---     │
│ i64    ┆ str  ┆ i64        ┆ i64        ┆ f64      ┆ str     │
╞════════╪══════╪════════════╪════════════╪══════════╪═════════╡
│ 2006   ┆ AL   ┆ 60363      ┆ 11041      ┆ 4.938572 ┆ Yes     │
│ 2012   ┆ NL   ┆ 69211      ┆ 11037      ┆ 4.30566  ┆ No      │
│ 1963   ┆ AL   ┆ 43655      ┆ 6599       ┆ 4.081388 ┆ No      │
│ 2014   ┆ AL   ┆ 65396      ┆ 10052      ┆ 4.150162 ┆ Yes     │
│ 1999   ┆ AL   ┆ 60230      ┆ 11853      ┆ 5.313482 ┆ Yes     │
└────────┴──────┴────────────┴────────────┴──────────┴─────────┘

In [4]:
ERA.write_csv('./data/ERA.csv')

In [5]:
batting = pl.read_csv('./Data/lahman_1871-2023_csv/Batting.csv')
batting.head()

shape: (5, 24)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬──────┬───────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SH  ┆ SF  ┆ GIDP ┆ G_old │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ ---  ┆ ---   │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64  ┆ str   │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪══════╪═══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 1   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴──────┴───────┘

In [6]:
SLG = (batting
       .select([pl.col('BB'), pl.col('2B'), pl.col('3B'), pl.col('HR'), 
                pl.col('AB'), pl.col('yearID'), pl.col('lgID')])
       .filter(pl.col('yearID') >= 1946)
       .group_by(pl.col('yearID'), pl.col('lgID'))
       .agg([pl.col('BB').sum().alias('total_BB'),
             pl.col('2B').sum().alias('total_2B'),
             pl.col('3B').sum().alias('total_3B'),
             pl.col('HR').sum().alias('total_HR'),
             pl.col('AB').sum().alias('total_AB'),
            ])
       .with_columns(slg = (pl.col('total_BB') + (2 * pl.col('total_2B')) + 
                            (3 * pl.col('total_3B')) + (4 * pl.col('total_HR')))/pl.col('total_AB'),
                    DH_rule =  pl.when(pl.col('yearID') < 1973)
                                 .then(pl.lit('No'))
                                 .when(pl.col('lgID') == 'AL')
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('yearID') > 2022)
                                 .then(pl.lit('Yes'))
                                 .when(pl.col('lgID') == 'NL')
                                 .then(pl.lit('No'))
                    )
      )
SLG.head()

shape: (5, 9)
┌────────┬──────┬──────────┬──────────┬───┬──────────┬──────────┬──────────┬─────────┐
│ yearID ┆ lgID ┆ total_BB ┆ total_2B ┆ … ┆ total_HR ┆ total_AB ┆ slg      ┆ DH_rule │
│ ---    ┆ ---  ┆ ---      ┆ ---      ┆   ┆ ---      ┆ ---      ┆ ---      ┆ ---     │
│ i64    ┆ str  ┆ i64      ┆ i64      ┆   ┆ i64      ┆ i64      ┆ f64      ┆ str     │
╞════════╪══════╪══════════╪══════════╪═══╪══════════╪══════════╪══════════╪═════════╡
│ 1970   ┆ NL   ┆ 6919     ┆ 2743     ┆ … ┆ 1683     ┆ 66465    ┆ 0.312932 ┆ No      │
│ 2000   ┆ AL   ┆ 8502     ┆ 4269     ┆ … ┆ 2688     ┆ 78547    ┆ 0.369868 ┆ Yes     │
│ 1985   ┆ AL   ┆ 7465     ┆ 3562     ┆ … ┆ 2178     ┆ 77257    ┆ 0.322107 ┆ Yes     │
│ 1964   ┆ NL   ┆ 4394     ┆ 2161     ┆ … ┆ 1211     ┆ 55284    ┆ 0.26845  ┆ No      │
│ 1959   ┆ NL   ┆ 3974     ┆ 1788     ┆ … ┆ 1159     ┆ 42330    ┆ 0.310843 ┆ No      │
└────────┴──────┴──────────┴──────────┴───┴──────────┴──────────┴──────────┴─────────┘

In [7]:
SLG.write_csv('./data/SLG.csv')

In [79]:
ERA2 = (ERA
 .pivot('lgID', 
        index = 'yearID', 
        values = 'era')
 .with_columns(AL_minus_NL = pl.col('AL') - pl.col('NL'))
 .unpivot(index = 'yearID',
          variable_name = 'lgID',
          value_name = 'era')
)

In [19]:
from plotnine import *

In [134]:
LeagueERA = (ggplot(data = ERA2)
 + geom_line(aes(x = 'yearID',
                 y = 'era',
                 color = 'lgID'))
 + geom_hline(yintercept = 0,
             size = .5)
 + geom_vline(xintercept = 1973,
             linetype = 'dashed',
             color = 'orange') 
 + annotate('text', x = 1959, y = 1, label = 'DH introduced to the AL in 1973', size = 13)
 + theme_matplotlib()
 + theme(figure_size=(12, 5))
 + ylab('League ERA')
 + ggtitle('League ERA vs. yearID')
)

LeagueERA.save(filename = 'LeagueERA_vs_yearID.png', dpi=300)

C:\Users\gt7194iu\AppData\Local\anaconda3\envs\polars\Lib\site-packages\plotnine\ggplot.py:606: PlotnineWarning: Saving 12 x 5 in image.
C:\Users\gt7194iu\AppData\Local\anaconda3\envs\polars\Lib\site-packages\plotnine\ggplot.py:607: PlotnineWarning: Filename: LeagueERA_vs_yearID.png

In [81]:
SLG2 = (SLG
 .pivot('lgID', 
        index = 'yearID', 
        values = 'slg')
 .with_columns(AL_minus_NL = pl.col('AL') - pl.col('NL'))
 .unpivot(index = 'yearID',
          variable_name = 'lgID',
          value_name = 'slg')
)

In [136]:
LeagueSLG = (ggplot(data = SLG2)
 + geom_line(aes(x = 'yearID',
                 y = 'slg',
                 color = 'lgID'))
  + geom_hline(yintercept = 0,
             size = .5)
 + geom_vline(xintercept = 1973,
             linetype = 'dashed',
             color = 'orange')
 + annotate('text', x = 1959, y = .05, label = 'DH introduced to the AL in 1973', size = 13)
 + theme_matplotlib()
 + theme(figure_size=(12, 5))
 + ggtitle('League Slugging % vs. yearID') 
)

LeagueSLG.save(filename = 'LeageSLG_vs_yearID.png', dpi=300)

C:\Users\gt7194iu\AppData\Local\anaconda3\envs\polars\Lib\site-packages\plotnine\ggplot.py:606: PlotnineWarning: Saving 12 x 5 in image.
C:\Users\gt7194iu\AppData\Local\anaconda3\envs\polars\Lib\site-packages\plotnine\ggplot.py:607: PlotnineWarning: Filename: LeageSLG_vs_yearID.png